@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colors 
    --violet-blue-crayola: hsla(234, 50%, 64%, 1);
    --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
    --white: hsla(0, 0%, 100%, 1);
    --white_a3: hsla(0, 0%, 100%, 0.03);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --cultured: hsla(220, 20%, 97%, 1);
    --lavender-web: hsla(233, 52%, 94%, 1);
    --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --charcoal: hsla(218, 22%, 26%, 1);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --light-gray: hsla(0, 0%, 79%, 1);
    --blue-crayola: hsla(219, 72%, 56%, 1);
    --black-coral: hsla(220, 12%, 43%, 1);
    */

  /* Typography */
  /* --ff-manrope: "Manrope", sans-serif; */

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + 0.66vw);
  --fs-3: 2.2rem;
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;

  --fw-700: 700;

  /* Spacing */
  --section-padding: 90px;

  /*Box Shadow */
  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08),
    0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /* Border Radius */
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
i {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
button {
  background: none;
  border: none;
  font: inherit;
}
input {
  width: 100%;
}
button {
  cursor: pointer;
}
i {
  pointer-events: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;

  background-color: #ffffff;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.7;
  /* height: 300vh; */
}

body.nav-active {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/* REUSED STYLE  */
.container {
  padding-inline: 16px;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-link {
  font-size: 2rem;
  transition: var(--transition-1);
}
.social-link:is(:hover, :focus-visible) {
  transform: translateY(-3px);
}

/* hero */
.section {
  padding-block: var(--section-padding);
}
.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  /* color: var(--charcoal); */
  font-weight: var(--fw-700);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}
.h4 {
  font-size: var(--fs-4);
}
.h5 {
  font-size: var(--fs-6);
}

.btn {
  color: #ffffff;
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid #ffffff;
  max-width: max-content;
  padding: 12px 28px;
  border-radius: var(--radius-pill);

  transition: var(--transition-1);
  will-change: transform;
}
.btn:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
  background: #ffffff;
  color: rgb(144, 83, 202);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: gray;
  overflow: hidden;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-subtitle {
  font-size: var(--fs-7);
  text-transform: uppercase;
  /* color: red; */
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}
.grid-list {
  display: grid;
  gap: 25px;
}

.w-100 {
  width: 100%;
}

/* HEADER */
.header-l {
  padding-inline: 110px;
}

.header .btn {
  display: none;
}
.header {
  /* background-color: #FFFFFF; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}
.header.active {
  background-color: #ffffff;
  position: fixed;
  animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header.active .logo-light,
.header .logo-dark {
  display: none;
}
.header .logo-light,
.header.active .logo-dark {
  display: block;
}
.nav-open-btn {
  font-size: 3.5rem;
  /* color: white; */
}
.header.active .nav-open-btn {
  /* color: #FFFFFF; */
}
.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #393d44;
  color: #ffffff;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  visibility: hidden;
  transition: var(--transition-3);
}
.navbar.active {
  visibility: visible;
  transform: translateX(300px);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-close-btn {
  background-color: #6c6e77;
  color: #ffffff;
  font-size: 2rem;
  padding-inline: 10px;
  border-radius: var(--radius-6);
  transition: var(--transition-1);
}
.nav-close-btn i {
  --i-stroke-width: 50px;
}

.nav-close-btn:is(:hover, :focus-visible) {
  background-color: #56585e;
}

.navbar-list {
  margin-block-end: auto;
}
.navbar-link {
  font-weight: var(--fw-700);
  padding-block: 6px;
}

.contact-link {
  transition: var(--transition-1);
}
.contact-link:is(:hover, :focus-visible) {
  color: #a6b2db;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #232428;
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-1);
}
.overlay.active {
  pointer-events: all;
  opacity: 0.8;
}

/*---------------------------- HERO -----------------------------*/

.hero {
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
}
.hero .container {
  display: grid;
  gap: 70px;
}

.hero-title {
  color: #ffffff;
}
.hero-text {
  font-size: var(--fs-5);
  color: #ffffff;
  margin-block: 24px 36px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-slider,
.hero-card {
  position: relative;
}
.hero-card .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  color: #ffffff;
  font-size: 2rem;
  padding: 25px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  animation: pulse 2s ease infinite;
}
.hero-card .play-btn:is(:hover, :focus-visible) {
  color: cadetblue;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 gainsboro;
  }
  75% {
    box-shadow: 0 0 0 20px transparent;
  }
}

.hero .slider-inner {
  border-radius: var(--radius-10);
  overflow: hidden;
}
.hero .slider-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition: var(--transition-2);
}
.hero .slider-item {
  min-width: 100%;
  width: 100%;
  border-radius: var(--radius-10);
  overflow: hidden;
}
.hero .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: grey;
  font-size: 2rem;
  padding: 12px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}
.hero .slider-btn:is(:hover, :focus-visible) {
  background-color: #ffffff;
}
.hero .slider-btn.prev {
  left: 20px;
}
.hero .slider-btn.next {
  right: 20px;
}

/* ---------About Us ------------------------- */

.about-text {
  font-size: var(--fs-5);

  margin-block: 24px 36px;
}
.all-btn {
  border: 2px solid #9053ca;
}
.all-btn:hover {
  background-color: #9053ca;
  color: #ffffff;
}
.about-content h1 {
  text-align: center;
}
.about-content .hero-card {
  display: none;
}
.about-content {
  display: flex;
  flex-direction: column;
}

/* ----------about card ---------------- */

.service {
  text-align: center;
}
.service .section-title {
  margin-block-end: 50px;
}
.service-card {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}
.service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: #9053ca;
  place-items: center;
  color: #ffffff;
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon i {
  padding-top: 15px;
  text-align: center;

  /* --i-stroke-width: 50px; */
}
.service-card .card-title {
  margin-block: 16px 10px;
}
.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: rgb(153, 92, 211);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) {
  opacity: 0.9;
}

/*======== Start offer Section =========*/

.offers_tab .btn-offer {
  text-align: center;
  color: #ffffff;
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid rgb(153, 92, 211);
  padding: 12px 28px;
  border-radius: var(--radius-8);
  background: rgb(153, 92, 211);
  width: 260px;
  transition: var(--transition-1);
  will-change: transform;
}

.offers_tab .btn-offer:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.offers_tab .btn-offer:is(:hover, :focus-visible) {
  background: #ffffff;
  color: rgb(144, 83, 202);
}
.offer_next {
  padding-inline: 30px;
}

.grid-list-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-inline: 50px;
  gap: 30px;
}

/* my ------------------------------------------------------------------------------*/
.offer_part_A {
  text-align: center;
}
.span_wrapper {
  padding-bottom: 20px;
  font-size: 2.4rem;
  color: #333333;
}
.span_wrapper span {
  color: #9053ca;
  font-weight: 600;
}
.offer_links_part {
  padding-top: 7rem;
}
.offer_links_part .offers_tab {
  color: #333333de;
  text-transform: uppercase;
}

/* tab content css */
.all_offer_content_wrapper {
  padding-top: 5rem;
}
.full_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}

.tab_link_content {
  padding-bottom: 20px;
  text-align: center;
  border-radius: 8px;
}

/* product */
.tab_link_wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.content_icon {
  font-size: 2.4rem;
  padding-top: 26px;
}

.content_text .content_text_color {
  font-family: "Gupter", serif;
  font-size: 1.1rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.747);
  padding-top: 30px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

/*===============================================================  */

.icon_all .icon_color {
  transition: color 0.3s ease-in-out;

  color: #b157c4;
}

.item_back {
  transition: background-color 0.5s ease-in-out;

  background-color: #dbcce6;
}

/*============== for hover========================================== */

.hover_all:hover .content_text_color {
  color: white;
}

/* ============================================ */
.hover_all:hover .icon_color {
  color: white;
}

.hover_all:hover {
  background-color: rgb(144, 83, 202);
  /* #5e47ac; */
}

/* ======end product */
/* ==========experties */

/* for show hide div */

#product {
  display: grid;
}

.show_hide {
  display: none;
}
/*======== End offer Section =========*/
/* Start ad section */

/* my */
.about_p {
  font-size: var(--fs-1);
}
/* -- */
.about .container {
  display: grid;
  gap: 50px;
}
.about .section-title {
  margin-block-end: 35px;
}
.accordion-card .card-title {
  padding-block-end: 20px;
}
.accordion-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-btn i {
  font-size: 1.5rem;
  color: #4951a5;
  transition: var(--transition-1);
}
.accordion-card.expanded .accordion-btn i {
  transform: rotate(0.5turn);
}
.accordion-btn .span {
  transition: var(--transition-1);
}
.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-btn.expanded .accordion-btn .span {
  color: #2c369a;
}
.accordion-content {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}
.accordion-card.expanded .accordion-content {
  max-height: max-content;
  padding-block-end: 20px;
}
/* End ad Section */
/* -----------Stats -------------- */

.stats {
  background-image: linear-gradient(to bottom, #ffffff 50%, #f5f7fa 50%);
}

.stats-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 36px 24px;
  padding: 45px 15px;
  /* 15__30px */
  border-radius: var(--radius-8);
}
.stats-card .card-text > * {
  color: #ffffff;
}

/*======== Start clients Section =========*/
#p-top {
  padding-top: 40px;
}
.clients_box_wrapper {
  padding-top: 80px;
}
.clients_box {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 4rem; */
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;

  /* padding: 60px 50px 50px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.client_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 100px; */
}

.client_logo:hover .client_img {
  transform: scale(1.7);
}
/* slider --- client */

.image_container img {
  width: 340px;
  height: 260px;
  border: 1px solid #d4d1d1;
}

/* .slider_for_clients {
  padding: 10px 152px 50px 160px;
} */

/*======== End clients Section =========*/
/*======== Start work Section =========*/
.work_font {
  font-size: var(--fs-5);
}

.work_button_part .work_button_list {
  /* padding-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px; */
  padding-inline: 50px;
}

.button_item {
  text-align: center;
  color: #ffffff;
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid #9053ca;
  padding: 12px 28px;
  border-radius: var(--radius-8);
  background: #9053ca;
  width: 260px;
  transition: var(--transition-1);
  will-change: transform;
}

.button_item:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.button_item:is(:hover, :focus-visible) {
  background: #ffffff;
  color: #9053ca;
}

/* ===================================================== */
.work_description_part {
  padding-top: 3rem;
}

.des_item {
  width: 370px;
  height: 370px;
  position: relative;
  overflow: hidden;
}

.des_img img {
  width: 370px;
  height: 280px;
}

.des_text {
  color: #9053ca;
  font-size: 1.34rem;
  text-align: center;
  padding-top: 11px;
}
/* for hover */
.des_item:hover {
  box-shadow: 0 4px 4px 6px rgba(53, 49, 49, 0.2);
  transition: box-shadow 0.3s ease;
}
.work_hover_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.work_hover_wrapper .fa-link,
.work_hover_wrapper .fa-camera {
  font-size: 1.6rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px;
}
.work_hover_wrapper:hover .fa-link,
.work_hover_wrapper:hover .fa-camera {
  background: #ffffff;
  color: #9053ca;
}

.des_item:hover .work_hover_wrapper {
  visibility: visible;
  z-index: 2;
}
/* for linear gradient */
.des_item:hover .des_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #9053ca, #b072d9, #b482cc);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}
.des_item:hover .des_img::before {
  opacity: 0.6;
}
.des_img {
  position: relative;
}

.des_img img {
  display: block;
  width: 100%;
}

/* for  work card  */

.full_work_content {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding: 30px; */
}

.work_btn .btn_center {
  text-align: center;
  background-color: #9053ca;
  width: 170px;
  align-items: center;
  /* margin-left: 500px; */
  border: 1px solid #9053ca;
  border-radius: 23px;
  padding: 5px 15px 5px 15px;
  transition: background-color 0.3s ease;
}
.work_btn .btn_center a {
  color: #ffffff;
  font-weight: 700;
}

/*  for work show & hide */
#valuable_work {
  display: grid;
}

.work_hide {
  display: none;
}
.work_btn {
  padding-top: 40px;
  text-align: center;
  align-items: center;
}
/*======== End work Section =========*/

/* ======================== #PROJECT ================= */

.project {
  background-color: #f5f7fa;
}
.project :is(.section-subtitle, .section-title) {
  text-align: center;
}
.project .section-title {
  margin-block-end: 50px;
}
.project-card {
  background-color: #ffffff;
  border-radius: var(--radius-8);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  height: 100%;
}
.project-card .card-content {
  padding: 30px;
}
.project-card .card-title {
  transition: var(--transition-1);
}
.project-card .card-title:is(:hover, :focus-visible) {
  color: #7d84ff;
}

.project-card .card-text {
  margin-block: 16px 20px;
}
.project-card .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.project-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #adb9c9;
  font-size: var(--fs-8);
}

/* ======================== #CTA ================= */

.cta {
  background-color: #37414f;
}
.cta .container {
  padding-block: 100px 60px;
  border-block-end: 1px solid rgba(162, 179, 197, 0.2);
}
.cta .section-title {
  color: #ffffff;
  margin-block-end: 30px;
}
.cta .btn {
  background-color: #7d84ff;
  color: #ffffff;
  border: none;
}
/* ======================== #FOOTER================= */

.footer {
  background-color: #37414f;
  padding-block: 60px 100px;
  color: #cacaca;
}
.footer-brand .footer-text {
  margin-block: 20px;
}
.footer .social-list {
  color: #ffffff;
}
.footer-list-title {
  color: #ffffff;
  margin-block-end: 16px;
}
.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
}
.footer-link:is(:hover, :focus-visible) {
  color: #7d84ff;
}

.input-wrapper {
  position: relative;
  margin-block-start: 25px;
}
.input-field {
  background-color: var(--white_a3);
  color: #cacaca;
  font-size: var(--fs-7);
  padding: 12px 16px;
  border: 1px solid rgba(23, 64, 137, 0.07);
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-3);
  outline: none;
}
.input-field::placeholder {
  color: inherit;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 var(--radius-6) var(--radius-6) 0;
  background-color: #7d84ff;
  color: #ffffff;
  padding-inline: 24px;
  font-weight: var(--fw-700);
}
